* {
margin: 0;
padding: 0px;
box-sizing: border-box;
}


.navbar{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 17px;
padding: 5px 30px;
margin: 5px 8px;
box-sizing: border-box;
box-shadow: 0 5px 15px 0px rgb(19, 18, 18);
border-radius: 5px;
}
.nav-link{
    font-weight: 200 !important;
    padding-top: 0 ;
}
.nav-link:hover{
    
    transition: all 0.2s ease-in-out;
}
.active{
    border-bottom: 1px solid black;
}
.navbar-brand{
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 3px;
}
/* CSS */
.Hero {
    text-align: center; /* Center the content horizontally */
    width: 100%;
    height: 15vh; /* Make the div take up the full viewport height */
    display: flex; /* Use flexbox to center content vertically */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    margin: 0; /* Remove any default margin */
  }
  
  .Hero img {
    width: 100%; /* Make the image width 100% of its container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a subtle box shadow to the image */
  }
  


.pnf{
    display: flex;
    min-height: 65vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pnf-btn{
    border-color: black;
    border-width: 2px;
    border: radius 2px;
}
.pnf-title{
    font-size: 100px;
    font-weight: 700;

}





.data{
    padding: 55px;
}


.register{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    flex-direction: coloumn;

    border: 2px;
}
.register form{
    box-shadow: black 0px 5px 15px;
    padding:20px;
    background-color: white;
    border-radius: 5px;
    
}
.register .btn{
    padding-left: auto;
    width: fit-content;

}
.register .button{
    width: fit-content;
}



.footer{
    flex-shrink: 0;
    letter-spacing: 2px;
    color:antiquewhite;
    text-align: center;
    background-color: black 
}
.footer a{
    text-decoration: none;
    text-align: center;
    color: aliceblue;
}
.footer a:hover{
    color: rgb(46, 6, 120);
    border-bottom: 2px black;
}